/*body {
  font-family: 'Lato', sans-serif;
}

h1 {
	font-family: 'Lato', sans-serif;	
	font-weight: 100;
	color: red;
  	text-align: center;
}*/
/*Text style declarations*/
.title-super {
	font-family: 'Lato', sans-serif;
	font-size: 2.5em;
	font-weight: 100;
	text-transform: uppercase;
/*	text-align: center;	
*/
}

.title-sub {
	font-family: 'Lato', sans-serif;
	font-size: 1.25em;
	font-weight: 100;
	display: none;
}

.text-uppercase {
	font-family: 'Raleway', sans-serif;
	font-size: 1.25em;
	font-style: bold;
	font-weight: 300;
	padding-top: 15px;
	color: white;
}

.subtitle {
/*	border: 1px solid red;
*/	height: 50px;
	background: rgb(76, 52, 100);
}

/*Image style declarations*/

.img-line {
	margin-bottom: 1.0em;
}

.home-image {
	max-width: 100%;
}

/* Media queries */

@media screen and (min-width: 750px) {
    .title-super {
/*    	text-align: center;
*/    	font-size: 1.75em;
		display: block;
    }

    .title-sub {
        display: block;   
    };
}