
/*Text style declarations*/
.title-super {
	font-family: 'Lato', sans-serif;
	font-size: 2.5em;
	font-weight: 100;
	text-transform: uppercase;
/*	text-align: center;	
*/
}

a:link {
	color: white;
}

.title-sub {
	font-family: 'Lato', sans-serif;
	font-size: 1.25em;
	font-weight: 100;
/*	display: none;
*/}

.text-uppercase {
	font-family: 'Raleway', sans-serif;
	font-size: 1.25em;
	font-style: bold;
	font-weight: 300;
	padding-top: 15px;
	color: white;
}

.subtitle {
	height: 50px;
	background: rgb(76, 52, 100);
}

/*Image style declarations*/

.img-line {
	margin-bottom: 1.0em;
}

.home-image {
	max-width: 100%;
}

/* Nav styling */

.navbar .nav li{
	float: none;
	display: inline-block;
	vertical-align: top;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	padding-top: 10px;
	margin-left: 80px;
	margin-right: 80px;
}

.navbar-custom {
	background-color: rgb(76, 52, 100);
}
/* .main-nav-li {
 	display: inline;
 	font-family: 'Raleway', sans-serif;
	font-size: 1.25em;
	font-style: bold;
	font-weight: 300;
/*	background: rgb(76, 52, 100);
*/}




/* Media queries */

@media screen and (min-width: 750px) {
    .title-super {
		font-size: 1.75em;
		display: block;
    }

    .title-sub {
        display: block;   
    };
}